<!DOCTYPE html>
<html>
<head>
  <title>Code Planet Game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
      <li><%= link_to "Login", welcome_login_path %></li>
      <li><%= link_to "Signup", welcome_signup_path %></li>      
    </ul>
    <%= yield %>
  </div>
</body>
</html>
